
<!DOCTYPE html>
<html>
<head>
  <link type="text/css" rel="stylesheet" href="/static/main.css" />

  <title>Trillayo Blog</title>
</head>

<body>
  <a href="/blog" class="main-title">
    Trillayo Blog
  </a>

  <div class="login-area">
    
      <a class="login-link" href="/login">login</a>
      |
      <a class="login-link" href="/signup">signup</a>
    
  </div>

  <div id="content">
  
  <h2>new post</h2>

    <form method="post">
      <label>
        <div>subject</div>
        <input type="text" name="subject" value="">
      </label>

      <label>
        <div>blog</div>
        <textarea name="content"></textarea>
      </label>

      <div class="error"></div>

      <input type="submit">
    </form>

  </div>
</body>

</html>
